<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Student list</title></head>
<body>
<h2>Student list</h2>
<a href="/student/form">ADD STUDENT</a>
<table border="1">
<tr><th>ID</th><th>Name</th><th>Email</th><th>Course</th><th>Actions</th></tr>
<tr th:each="s : ${students}">
<td th:text="${s.id}"></td>
<td th:text="${s.name}"></td>
<td th:text="${s.email}"></td>
<td th:text="${s.course}"></td>
<td>
<a th:href="@{|/student/form?id=${s.id}|}">Edit</a> |
<a th:href="@{|/student/delete/${s.id}|}">Delete</a>
</td>
</tr>
</table>
</body>
</html>
